* {
    margin: 0;
    padding: 0;
    text-decoration: none !important;
    box-sizing: border-box;
}


div>h2 {
    background-clip: text;
    -webkit-background-clip: text;
    color: rgb(255, 196, 0);
}

.home-header {
    display: block;
    position: relative;
    background-position: center;
    background-size: cover;
    background-image: url("../storage/image/The_Library.jpg");
    min-height: 75%;
    height: 75%;
}

.h2-background-shape {
    color: rgb(255, 196, 0);
    margin: auto;
    width: 50%;
    height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(37, 22, 4);
    transform: skew(20deg);
    transform-origin: 0;
}

.h2-background-shape>h2 {
    text-align:center;
    transform: skew(-20deg);
}

.h2-background-shape>p {
    text-align:center;
    margin-right:20px;
    transform: skew(-20deg);
}